:root
{
    --default-black: #181818;
    --default-red: #ff5555;
    --default-orange: #e2aa53;
    --default-grey: #c9c9c9;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100vw;
    height: 100vh;
    background-color: var(--default-red);
}