.container-game-page
{
    border-radius: 10px;
    box-sizing: border-box;
    min-height: 90%;
    width: 90%;
    margin-top: 5vh;
    margin-bottom: 5vh;

    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);

    text-align: center;

    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    background: var(--default-black);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 3px, rgba(0, 0, 0, 0.9) 0 0 0 3px;
    color: var(--default-grey);
}

.container-game-page > div > ol
{
    list-style: none;
    text-align: left;
}

.container-game-page > div > ol:deep(label), ol:deep(span)
{
    position: relative;
    left: 45%;
}

.container-game-page > div > ol:deep(p)
{
    text-align: center;
}

.container-game-page > div > button
{
    width: 20%;
    font-size: 17px;
    font-weight: bold;

    background-color: #782637;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.container-game-page > div > button:focus, .container-start-page > div > button:hover
{
    background-color: #F082AC;
}

#username
{
    position: relative;
    left: 35%;
    font-size: 17px;
}

#highScore
{
    position: relative;
    left: 35%;
    font-size: 17px;
}