.container-results-page
{
    border-radius: 10px;
    box-sizing: border-box;
    min-height: 90%;
    width: 90%;
    margin-top: 5vh;
    margin-bottom: 5vh;


    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);

    text-align: center;

    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    background: var(--default-black);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 3px, rgba(0, 0, 0, 0.9) 0px 0px 0px 3px;
    color: var(--default-grey);
}

.container-results-page > div > ol
{
    list-style-position: inside;
    text-align: center;
}

.container-results-page > div > span
{
    font-size: 30px;
}

.correct
{
    color: #6bd96b;
}

.incorrect
{
    color: #ff5555;
}

.container-results-page > div > button:nth-of-type(1)
{
    width: 20%;
    font-size: 17px;
    font-weight: bold;

    background-color: #26785b;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0 20px 20px 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.container-results-page > div > button:nth-of-type(2)
{
    width: 20%;
    font-size: 17px;
    font-weight: bold;
    background-color: #782637;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0 20px 0 20px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.container-start-page > div > button:focus, .container-start-page > div > button:hover
{
    background-color: #F082AC;
}

#username
{
    position: relative;
    left: 35%;
    font-size: 17px;
}

#highScore
{
    position: relative;
    left: 35%;
    font-size: 17px;
}