.container-start-page
{
    border-radius: 10px;
    box-sizing: border-box;
    min-height: 90%;
    width: 90%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    background: var(--default-black);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 3px, rgba(0, 0, 0, 0.9) 0 0 0 3px;
    color: var(--default-grey);
}

.container-start-page > div
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -65%);
    height: 50%;

    text-align: center;
    display: grid;
    grid-row-gap: 4%;
}

.container-start-page > div > label > input
{
    border: none;
    background: none;
    color: var(--default-orange);
    text-align: center;
    height: 25px;
}

.container-start-page > div > label > input:focus
{
    outline: none;
}

.container-start-page > div > label > input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.container-start-page > div > label > input::placeholder
{
    color: var(--default-orange);
}

.container-start-page > div > label > select
{
    background: none;
    text-align: center;
    color: var(--default-orange);
    border: none;
    height: 25px;
    -webkit-appearance: none;
}


.container-start-page > div > label > select > option
{
    background-color: var(--default-black);
}

.container-start-page > div > button
{
    width: 70%;
    font-size: 17px;
    font-weight: bold;
    background-color: #782637;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    transform: translate(20%);
}


.container-start-page > div > button:focus, .container-start-page > div > button:hover
{
    background-color: #F082AC;
}
