<script setup lang="ts">
import QuestionList from "../components/QuestionList.vue";
import { fetchCategoriesAsync, fetchQuestionsAsync } from "../api/questions";
import { computed, onMounted, ref } from "vue";
import { useStore } from "../store/store";
import router from "../router/router";
import { getScoreAsync } from "../api/score";

// #### onCreate ####
// Store setup
const store = useStore();
const currentHighScore = computed(() => store.state.highScore);
const username = computed(() => store.state.username);
const questionsResponse = computed(() => store.state.questionsResponse);

onMounted(async () =>
{
	// Get questions and update store
	const response = await fetchQuestionsAsync();
	store.commit("setQuestions", response);

	// Update store with empty (null) user answers for every question
	for (const question of questionsResponse.value[1])
		store.commit("setAnswer", {id: question.id, answer: null});

	// Get current high score of username, if username exists in trivia api. Default so 0.
	const userScore = (await getScoreAsync(store.state.username))[1][0];
	if (userScore)
		store.commit("setHighScore", userScore.highScore);
});

// Function to go to complete the quiz and go to the results page
function completeQuiz(this: any)
{
	router.push({
		path: "/results-page"
	});
}

</script>

<!-- Game page html -->
<template>
	<div class="container-game-page"> <br>
		<span id="username">Username: {{username}}</span> <br>
		<span id="highScore">High score: {{currentHighScore}}</span>
		<div> <br>
			<h1>Questions</h1> <br> <br>
			<QuestionList/>
			<button @click="completeQuiz">Complete Quiz</button> <br> <br>
		</div>
	</div>
</template>

<style scoped src="../assets/css/game-page.css"/>