<script setup lang="ts">
import { computed, onMounted } from "vue";
import { useStore } from "../store/store";
import router from "../router/router";
import { decodeHtml } from "../utils/htmlDecoder";
import { UserScore} from "../interfaces/score";
import { addScoreAsync, getScoreAsync, updateScoreAsync } from "../api/score";
import { Question } from "../interfaces/question";

// #### onCreate ####
// Store setup
const store = useStore();
const questionsResponse = computed(() => store.state.questionsResponse);
const userAnswers = computed(() => store.state.userAnswers);
const currentHighScore = computed(() => store.state.highScore);
const username = computed(() => store.state.username);
const score = computed(() => store.state.score);

onMounted(async () =>
{
	calculateScore();
	await handleScore();
});

// Function to update Trivia API user high score if new score is larger if username already exists, or add
// new user to Trivia API otherwise.
async function handleScore()
{
	try
	{
		// User score of this quiz
		const userScore : UserScore = {username: store.state.username, highScore: score.value};

		// User score from Trivia API
		const [error, response] = await getScoreAsync(store.state.username);

		if (response.length == 0)
		{
			// Add user to Trivia API since it does not already exist
			await addScoreAsync(userScore);
			// Set current high score equal to current score
			store.commit("setHighScore", score.value);
		}
		else
		{

			if (response[0].highScore < score.value)
			{
				// Update user score to the Trivia API if new score is new high score
				await updateScoreAsync(userScore);
				// Set current high score to current score
				store.commit("setHighScore", score.value);
			}
		}
	}
	catch (_err : any)
	{
		console.log(_err.message);
	}
}
// Function to calculate the score of the finished quiz.
function calculateScore()
{
	let score = 0;
	for (const question of questionsResponse.value[1])
	{
		const answer = userAnswers.value.find(e => e.id === question.id)?.answer;
		if (answer == question.correct_answer)
			score += 10;
	}
	store.commit("setScore", score);
}

// Function to get the user answer to a specific question, from store.
// If no answer is found, returns null, else returns answer of type string.
function getAnswer(_question : Question | null)
{
	if (_question == null)
		return null;

	const userAnswer = userAnswers.value.find(e => e.id === _question.id);
	if (userAnswer)
		return userAnswer.answer;
	return null;
}

// Function to check if any user answers in store is the correct answer to this question.
// Returns 'incorrect' if there is no user answer to this question, or the answer is wrong.
/// Returns 'correct' if the user answer is correct.
function checkAnswer(_question : Question)
{
		const userAnswer = getAnswer(_question);
		if (userAnswer != null)
			return userAnswer === _question.correct_answer ? 'correct' : 'incorrect';
		else
			return 'incorrect';
}
</script>

<!-- Results page html-->
<template>
	<div class="container-results-page">
		<div> <br>
			<span id="username">Username: {{username}}</span> <br>
			<span id="highScore">High score: {{currentHighScore}}</span>
			<h1>Results</h1> <br><br>
			<div v-for="question in questionsResponse[1]">
				<p>Q: {{decodeHtml(question.question)}}</p>
				<p>A: {{decodeHtml(question.correct_answer)}}</p><br>
				<p :class="checkAnswer(question)">Your answer: {{decodeHtml(getAnswer(question))}}</p>
				<br><br>
			</div>
			<span><b>Score: {{score}}</b></span><br><br>
			<button @click="() => router.push({path: '/'})">Home</button>
			<button @click="() => router.push({path: '/game-page'})">Play Again</button>
		</div>
	</div>
</template>

<!-- CSS -->
<style scoped src="../assets/css/results-page.css"/>