<script setup lang="ts">
import { useStore } from "../store/store";
import { computed, onMounted, ref } from "vue";
import router from "../router/router";
import { questionTypes, questionDifficulties} from "../utils/urlBuilder";
import { fetchCategoriesAsync } from "../api/questions";


// #### onCreate ####
const store = useStore();
const questionCategories = computed(() => store.state.categories);

// refs with default values
const username = ref("");
const questionCount = ref(10);
const category = ref(0);
const difficulty = ref("any");
const questionType = ref("any");

onMounted(async () => {
	// Get question categories
	const categoriesResponse = await fetchCategoriesAsync();
	const categories = [{id: 0, name: "Mixed Categories"}, ...categoriesResponse[1]];
	if (categories.length > 0)
		store.commit("setCategories", categories);
});

function startGame() {
	if (username.value)
	{
		// If username is defined
		// Store username and quiz settings
		store.commit("setUsername", username);
		store.commit("setConfig", {
			count: questionCount.value,
			category: category.value,
			difficulty: difficulty.value,
			type: questionType.value
		});
		router.push({
			path: "/game-page"
		})
	}
	else
	{
		// If username is undefined
		alert("Username can't be empty!");
	}
}
</script>

<!-- Start page html-->
<template>
	<div class="container-start-page">
		<div>
			<h1>Trivia Game</h1> <br>
			<label>
				Username <br> <br>
				<input v-model="username" placeholder="..." type="text" style="text-align: center;">
			</label>
			<label>
				Number of questions <br> <br>
				<input v-model="questionCount" type="number" placeholder="Number of questions">
			</label>
			<label>
				Category <br> <br>
				<select v-model="category">
					<option v-for="category in questionCategories" :value="category.id">{{category.name}}</option>
				</select>
			</label>
			<label>
				Difficulty <br> <br>
				<select v-model="difficulty">
					<option v-for="(key, val) in questionDifficulties" :value="key">{{val}}</option>
				</select>
			</label>
			<label>
				Question type <br> <br>
				<select v-model="questionType">
					<option v-for="(key, val) in questionTypes" :value="key">{{val}}</option>
				</select>
			</label>
			<button @click="startGame">Start Game</button>
		</div>
	</div>
</template>

<!-- CSS -->
<style scoped src="../assets/css/start-page.css"/>