<script setup lang="ts">
import { computed } from "vue";
import QuestionAnswersRadio from "./QuestionAnswersRadio.vue";
import { useStore } from "../store/store";
import { decodeHtml } from "../utils/htmlDecoder";

// Store setup
const store = useStore();
const questionsResponse = computed(() => store.state.questionsResponse);
</script>

<template>
	<ol>
			<li v-for="question in questionsResponse[1]" :key="question.id">
				<p>Q: {{decodeHtml(question.question)}}</p> <br>
				<QuestionAnswersRadio :question="question" required/>
			</li>
	</ol>
</template>