<script setup lang="ts">
import { Question } from "../interfaces/question";
import { reactive, ref } from "vue";
import { useStore } from "../store/store";
import { decodeHtml } from "../utils/htmlDecoder";

// Defining props types
const props = defineProps<
	{
		question: Question
		required: boolean
	}>();

const store = useStore();

// Build array of possible question answers
// Randomize answers
const answers = randomizeArray([props.question.correct_answer, ...props.question.incorrect_answers.values()]);

// refs + reactives with default answers
const selectedAnswer = ref("");
const questionAnswers = reactive(answers)

// Function to update answer to question, in store.
function updateAnswer(_questionId : string, _answer : string)
{
	store.commit("setAnswer", {id: _questionId, answer: _answer});
}

// Function to randomize the order of elements in any array
function randomizeArray(_arr : Array<any>)
{
	return _arr.sort((_a, _b) => 0.5 - Math.random());
}
</script>

<!-- QuestionAnswersRadio html-->
<template>
	<label v-for="answer in questionAnswers">
		<input type="radio" :value="answer" v-model="selectedAnswer" @click="updateAnswer(question.id, answer)">
		{{ decodeHtml(answer) }} <br>
	</label> <br>
</template>